<style>

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&display=swap');

*{font-family:'Nunito Sans', monospace;
color:white;
text-shadow: 0 0 3px #000, 0 0 5px #000;
}
.date{font-family:'Nuntion Sans', monospace;
color:white;
text-shadow: 0 0 3px #000, 0 0 5px #000
}
.cal{font-family:'Nuntio Sans', monospace;
color:white;
text-shadow: 0 0 3px #000, 0 0 5px #000
}
h1{font-size:large;
    margin:4px
}
p{font-size:small;
padding:0px;
margin:0px;
}

</style>

<div class="calendar-widget">
    <div class="calendar">
        <h1>Kalendar</h1>
        <hr>
        <div class="tagUNDdatum">
            {{ dateDay }}
        </div>
        <hr>
        <div class="wochentage">
            {{ weekdays }}
        </div>
        <hr>
        <div class="tabeldayz">
            {{ weeks|safe }}
        </div>
        <hr>
    </div>
</div>