<style>

    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

    * {
        font-family: 'Nunito Sans', monospace;
        color: white;
        text-shadow: 0 0 3px #000, 0 0 5px #000;
    }

    .date{
        color:white;
        text-shadow: 0 0 3px #000, 0 0 5px #000
    }

.cal{
color:white;
text-shadow: 0 0 3px #000, 0 0 5px #000
}
h1{font-size:large;
    margin:4px
}
p{font-size:small;
padding:0px;
margin:0px;
}
.tabeldayz{
    width: 100%
}

</style>

<div class="calendar-widget">
    <div class="calendar">
        <h1>Kalendar</h1>
        <hr>
        <div class="tagUNDdatum">
            {{ dateDay }}
        </div>
        <hr>
        <div class="tabeldayz">
            {{ weeks|safe }}
        </div>
        <hr>
    </div>
</div>