<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

    * {
        font-family: 'Nunito Sans', monospace;
        color: white;
        text-shadow: 0 0 3px #000, 0 0 5px #000;
    }

    .stationInfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        align-content: space-between;
    }

    .logo {
        border-radius: 50%;
        box-shadow: 0 0 3px #000, 0 0 5px #000;
        width: 55px;
        height: 55px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .seperator {
        background-color: white;
        box-shadow: 0 0 3px #000, 0 0 5px #000;
        height: 2px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .timetable {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: x-large;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    h2 {
        font-size: large;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    h4 {
        font-size: medium;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        margin-block-start: 2;
        margin-block-end: 0;
    }

    p {
        font-size: small;
        padding: 0;
        margin: 0;
        margin-block-start: 0.5;
        margin-block-end: 2;
    }

    .meme {
        position: absolute;
        top: -735px;
        right: 0px;
        scale: 18%;
    }
</style>

<div class="timetable-widget">
    <div class="stationInfo">
        <div class="text">
            <h1>{{ stationName }}</h1>
            <h2>Ankünfte und Abfahrten</h2>
        </div>
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/S-Bahn-Logo.svg/640px-S-Bahn-Logo.svg.png">
    </div>
    <div class="seperator"></div>
    <div class="timetable">
        {{ timetableData }}
    </div>
    <img class="meme" src="{{ meme }}">
</div>