<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
    
    .time-view-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: blue;
        border-radius: 10px;
    }

    .time-view-container textarea {
        background-color: transparent;
        border: none;
        font-size: 2em;
        font-family: 'Nunito Sans', monospace;
        color: white;
    }

    .time-view-container textarea:focus {
        outline: none;
    }
</style>

<div class="time-view-container">
    <textarea id="time-view">{{noteText}}</textarea>
</div>