<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Dashbuddy</title>
    </head>
    <body>
        <p>Welcome to Dashbuddy!</p>
        <div id="widget-container" class="widget-container-column">
        </div>

        <script>
            const widgetContainer = document.getElementById('widget-container');
            async function loadWidgets() {
                const response = await fetch("/api/widgets");
                const responseJson =  await response.json();

                widgetContainer.innerHTML = responseJson.map(row => {
                    return '<div class="widget-container-row">' + row.map(column => {
                        return `<iframe class="widget" src="/plugin/${column.plugin}"></iframe>`
                    }).join("") + "</div>";
                }).join("");
            }
            loadWidgets();
        </script>
    </body>
</html>