<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Dashbuddy</title>
        <style>
            body {
                background-image: url('{{ imageUrl }}');
            }
            * {
                text-shadow: 0 0 3px #000, 0 0 5px #000;
            }
        </style>
    </head>
    <body>
        <div id="widget-container" class="widget-container-column">
        </div>

        <div class="menu-bar">
            <button class="menu-icon menu-button" onclick="toggleToEditMode()">
                <i class='bx bxs-message-square-edit'></i>
            </button>
            <button class="menu-icon menu-button" onclick="toggleSettingsMenu()">
                <i class='bx bxs-cog'></i>
            </button>
        </div>

        <div class="settings-container widget-style" style="display: none;" id="settingsMenu">
            <p>Change Background</p>
            <div class="background-selection">
                <div class="selection-box">
                    <input class="settings-background-button" src="{{ backgroundImage1 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage1 }}')">
                    <input class="settings-background-button" src="{{ backgroundImage2 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage2 }}')">
                    <input class="settings-background-button" src="{{ backgroundImage3 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage3 }}')">
                    <input class="settings-background-button" src="{{ backgroundImage4 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage4 }}')">
                    <input class="settings-background-button" src="{{ backgroundImage5 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage5 }}')">
                    <input class="settings-background-button" src="{{ backgroundImage6 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage6 }}')">
                    <input class="settings-background-button" src="{{ backgroundImage7 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage7 }}')">
                    <input class="settings-background-button" src="{{ backgroundImage8 }}" type="image" width="120" height="80" onclick="setBackground('{{ backgroundImage8 }}')">
                </div>
            </div>
        </div>

        <div class="application">
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='/scripts/settings.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='/scripts/renderWidgets.js') }}"></script>
    </body>
</html>