<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
    
    .time-view-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .time-view-container div {
        font-size: 15vw;
        font-family: 'Nunito Sans', monospace;
        color: white;
        text-shadow: 0 0 3px #000, 0 0 5px #000;
    }
</style>

<div class="time-view-container">
    <div id="time-view"></div>
</div>

<script>
    let time = document.getElementById("time-view");

    setInterval(() => {
        let datetime = new Date();
        time.innerHTML = datetime.toLocaleTimeString();
    }, 1000);

    window.onload = function() {
        let datetime = new Date();
        time.innerHTML = datetime.toLocaleTimeString();
    }
</script>