<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
    .time-view-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .time-view-container div {
        font-size: 2em;
        font-family: 'Nunito Sans', monospace;
    }
</style>

<div class="time-view-container">
    <div id="time-view"></div>
</div>

<script>
    const timeView = document.getElementById('time-view');

    async function updateWatch() {
        const response = await fetch("/api/plugin/watch/time")
        const time = await response.text();
        timeView.innerHTML = time;
    }
    updateWatch();
    setInterval(updateWatch, 100);
</script>